*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #e5e5fd;
    min-height: 100vh;
    border: 10px solid #1d1e4c;
}

.content{
    max-width: 800px;
    margin: 0 auto;
}

.top_section{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.top_section h1{
    font-size: 45px;
    font-family: "Poppins", sans-serif;
    color: rgb(224, 123, 65);
}
.top_section h4{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: black;
    text-align: end;
}


.image_container{
    border-radius: 50%;
    overflow: hidden;
    
}

.image_container,img{
    width: 250px;
    height: 270px;
    
}

.about_section{
    margin: 50px;
}
.about_section h2{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    margin-bottom: 20px;
}
.about_section p{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    line-height: 20px;
    letter-spacing: 1.5px;
    text-align: justify;
}

footer{
    margin-top: 50px 0;  
}
footer p{
    text-align: end;
    font-family: "Poppins", sans-serif;
}